
      .create_group 
      {
        position: fixed;
        top:80%;
        left:92%;
      }
      .group_section .panel-default
      {
        float: left;
        margin-right: 2%;
        width: 25%;
      }
      .group_section .panel-default a{
        float: right;
        //display: inline-block;
      }